<%- include('header') %>
<p>
    <label class="w3-text-blue">
        <b>第一句</b>
    </label>
    <input class="w3-input w3-border" name="first" type="text" placeholder="嘿嘿！">
</p>
<p>
    <label class="w3-text-blue">
        <b>第二句</b>
    </label>
    <input class="w3-input w3-border" name="first" type="text" placeholder="丢雷楼谋">
</p>

<p>
    <label class="w3-text-blue">
        <b>第三句</b>
    </label>
    <input class="w3-input w3-border" name="first" type="text" placeholder="大力D">
</p>

<p>
    <label class="w3-text-blue">
        <b>第四句</b>
    </label>
    <input class="w3-input w3-border" name="first" type="text" placeholder="嘿嘿！！">
</p>

<p>
    <label class="w3-text-blue">
        <b>第五句</b>
    </label>
    <input class="w3-input w3-border" name="first" type="text" placeholder="丢埋雷楼豆">
</p>

<p>
    <label class="w3-text-blue">
        <b>第六句</b>
    </label>
    <input class="w3-input w3-border" name="first" type="text" placeholder="再大力D">
</p>

<p>
    <label class="w3-text-blue">
        <b>第七句</b>
    </label>
    <input class="w3-input w3-border" name="first" type="text" placeholder="唔好丢我啊">
</p>

<%- include('footer') %>